.assigned-complaints-view{
    padding: 15px
}
#view-text{
    padding: 5px 15px;
    background: white
}
#view-options{
    padding: 7px 15px;
    border: none;
    margin-left: 15px;
    border-radius: 0;
    background: lightgray;
    // font-size: 14px
}
#view-row{
    padding: 15px
}
#departments-row{
    background: lightgray
}