$primary: #167FFB;


#new-compalint-icon{
    margin-right: 10px
}
#user-view{
    padding: 15px
}
#assigned-complaints-view{
    padding-top: 15px
}
#assigned-complaints-view h6{
    margin-bottom: 10px
}
.btn-outline-secondary{
    background: white;
    padding: 5px 15px
}
.btn-minimize-complaint {
  border-radius: 15px;
  padding: 3px 10px;
  line-height: 14px;
  font-size: 18px;
  margin-left: 90%;
  margin-bottom: 5px
}
